venv/
.venv/
*.venv/
*venv/

staticfiles/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.pem

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.log
*.log.*

*db
*.db.*

db.sqlite3

*migrations/
